body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: auto;
}
h2 {
    color: #0b1bfc !important;
}

.bg-primary {
    background-color: hwb(211 0% 0%) !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(23, 65, 173) !important;
}

.table-dark th {
    background-color: hsl(225, 75%, 46%) !important; /* Cambia este color */
    color: white !important;
    font-size: 18px !important;
    text-align: center !important;
    font-weight: bold !important;
    padding: 12px !important;
}

